<% if comment %>
  <div class="comment-container">
    <div class='comment-top'>
      <%= link_to(comment.user,class:'comment-link') do %>
        <div class="comment-icons">
          <% if comment.user.avatar.attached? %>
            <div class="user-icon"><%= image_tag(comment.user.avatar.variant(resize: '55x55!'))%></div>
          <%else%>
            <div class="user-icon"><img src="<%= gravatar_url(comment.user,size: 55) %>"></div>
          <%end%>
          <div class="comment-name">
            <div><%= comment.user.name %></div>
            <div class="star-rating" data-score= <%= comment.rating %>></div>
          </div>
        </div>
      <%end%>
      <div class="chat-box">
        <%= simple_format(comment.comment) %>
      </div>
    </div>
    <div class="comment-images">
      <% if comment.images.attached? %>
        <% comment.images.each do |image|%>
          <span class="comment_each_image">
            <%= image_tag image.variant(resize: "150x150!") %>
            <% if current_user == comment.user %>
              <%= link_to remove_image_path(remove_id: image),method: :delete,data:{ confirm: "画像を削除してよろしいですか？"} do %>
                <button class="image_remover">&times;</button>
              <% end %>
            <% end %>
          </span>
        <%end%>
      <% end %>
    </div>
    <div class="comment_bottom">
        <i class="far fa-calendar-alt"></i><span><%= comment.created_at.to_s(:datetime_jp) %></span>
        <% if comment.user == current_user %>
          <%= link_to edit_restaurant_comment_path(comment.restaurant_id,comment),class: 'btn btn-success btn-sm' do %><i class="fas fa-edit"></i><%end%>
          <%= link_to restaurant_comment_path(comment.restaurant_id,comment), method: :delete, data: { confirm: '削除してよろしいですか？' },class: 'btn btn-danger' do %><i class="fas fa-trash-alt"></i><%end%>
        <% end %>
    </div>
  </div>
<% end %>

<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>