<% if comment.comment %>
<div class="comment-container">
  <div class="p-comment__item">
    <div class='comment-top'>
      <%= link_to(comment.user,class:'comment-link') do %>
        <div class="comment-icons">
          <% if comment.user.avatar.attached? %>
            <div class="user-icon"><%= image_tag(comment.user.avatar)%></div>
          <%else%>
            <div class="user-icon"><img src="<%= gravatar_url(comment.user,size: 100) %>"></div>
          <%end%>
          <div class="comment-name">
            <div><%= comment.user.name %></div>
            <div class="star-rating" data-score= <%= comment.rating %>></div>
          </div>
        </div>
      <%end%>
      <div class="chat-box">
        <%= simple_format(comment.comment) %>
      </div>
    </div>
    <div class="p-comment__bottomLine">
      <i class="far fa-calendar-alt"></i><span><%= comment.created_at.to_s(:datetime_jp) %></span>
      <% if comment.user == current_user %>
        <span><%= link_to '削除', restaurant_comment_path(comment), method: :delete, data: { confirm: '削除してよろしいですか？' },class: 'btn btn-danger' %></span>
      <% end %>
    </div>
  </div>
  <div class="comment-images">
  </div>
  
</div>　
<% end %>
<style>
.chat-box{
  border-left:3px solid orange;
  padding-left:5px;
}
</style>
<script>
  $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>