<div class="new-restaurant_container row">
  <div class="new-restaurant_top col-sm-5">
    <%= form_with(model: @comment,method: :patch,url: restaurant_comment_path) do |f|%>
        <div class="new-restaurant_form">
          <div id="star-rating" class="new-rating"></div>
          <%= f.text_area :comment,class:'new-restaurant_comment' %>
        </div>
        <div class="new-restaurant_img">
          <%= f.label :images, '画像を追加  ( 複数選択可能 )' %>
          <%= f.file_field :images, multiple: true,id:"images" %>
        </div>
        <div id="preview" style="display:none"></div>
        <%= f.submit '投稿する！' ,class:'btn btn-primary' %>
    <%end%>
  </div>
</div>

<%= javascript_include_tag "preview.js" %>