<%= form_with(model:@restaurant.comments.new,url: restaurant_comments_path) do |f|%>
    <div class="field">
        <div id="star-rating"></div>
    </div>
    <div class="fomr-inline">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
    <div class="fomr-inline">
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true,id:"images" %>
    </div>
    <div id="preview" style="display:none"></div>
    <%= f.submit'submit' %>
<%end%>

<style>
#preview{
  display:flex;
  justify-content:space-around;
}
#preview img{
  width:21%;
  height:21%;
}
</style>
<script>
$('#star-rating').raty({
  path: '/assets/',
  scoreName: 'comment[rating]'
});

$(function(){
  $('#images').change(function(){
    if ( !this.files.length ) {
      return;
    }
    $('#preview').text('');
 
    var $files = $(this).prop('files');
    var len = $files.length;
    for ( var i = 0; i < len; i++ ) {
      var file = $files[i];
      var fr = new FileReader();
 
      fr.onload = function(e) {
        var src = e.target.result;
        var img = '<img src="'+ src +'">';
        $('#preview').append(img);
      }
 
      fr.readAsDataURL(file);
    }
 
    $('#preview').css('display','block');
  });
});
</script>