<% content_for(:cover) do %>
<div class="sign-body">
  <div class="model-dialog text-center">
    <div class="main-section col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
      <div class="model-content">
        <div class="col-12 user-img">
          <i class="fab fa-gofore"></i>
        </div>
        <%= form_with(model: @user) do |f| %>
          <form class="col-12">
            <div class="form-login">
              <%= f.text_field :name, class: 'form-control',placeholder: "Username" %>
            </div>
            <div class="form-login email">
              <%= f.text_field :email, class: 'form-control',placeholder: "Email" %>
            </div>
            <div class="form-login password">
              <%= f.text_field :password, class: 'form-control',placeholder: "Password" %>
            </div>
            <div class="form-login password">
              <%= f.text_field :password_confirmation, class: 'form-control',placeholder: "Password(確認)" %>
            </div>
            <div class="form-avatar">
              <i class="fas fa-image avatar-icon"></i><%= f.file_field :avatar%>
            </div>
            <button type="submit" class="btn-signin"><i class="fas fa-sign-in-alt"></i>登録する</button>
            <p class="or">or</p>
            <button type="submit" class="btn-tweet-signin"><i class="fab fa-twitter"></i>Twitterでログイン</button>
          </form>
        <% end %>
      </div> <!-- end of cotent -->
    </div>
  </div>
</div>
<%end%>
