<%content_for :cover do%>
  <div class="mypage_cover">
    <div class="container">
      <div class="row">
        <%= render 'sidebar',user: @user %>
        <div class="col-sm-8">
          <div class="mypage">
            <div class="user-profile row">
              <div class="show-user_image col-xs-4">
                <% if @user.avatar.attached? %>
                  <%= image_tag(@user.avatar.variant(resize: '200x200!')) %>
                <% else %>
                  <img src="<%= gravatar_url(@user,size: 200) %>">
                <% end %>
                <p class="show-user_follow_button"><%= render 'relationships/follow_button',user: @user %></p>
              </div>
              <div class="show-name_desc col-xs-7">
                <div class="show-user_relation flex">
                  <h2 class="show-user_name"><%= @user.name %></h2>
                  <div class="relation_count">
                    <span class="show-user_follow"><span><%= @user.followings.count %></span>follow</span>
                    <span class="show-user_follower"><span><%= @user.followers.count%></span>follower</span>
                  </div>
                </div>
                <h3>プロフィール</h3>
                <div class="profile">
                  <p><%= @user.profile %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
<%end%>