<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>お得なお店を見つける</h1>
        <% unless logged_in? %>
          <%= link_to '食べログを始める', signup_path, class: 'btn btn-success btn-lg' %>
        <% else %>
          <div class="text-center top-img">
            <%= form_with url: new_restaurant_path,method: :get do |f| %>
              <div class="form-group search">
                <%= f.text_field :freeword, class: 'form-control col-12', placeholder: "キーワードを入力" %>
              </div>
              <%= f.submit 'レストランを検索', class: 'btn btn-success btn-lg' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<h1 class="h1-top">検索されたお店一覧</h1>
<div class="con">
  <%= render @restaurants %>
</div>
<%if logged_in?%>
  <%= paginate @restaurants %>
<%end%>

