<%= render 'restaurant_nav'%>
<% content_for :cover do %>
  <div class="new-restaurant overflow-hidden">
    <div class="search-result"><span class="search-word">検索ワード:</span><%= params[:freeword] %><span class="p-l"><%=params[:area]%></span></div>
    <div class="row">
      <div class="new-restaurant-container">
        <div class="col-xs-5 scroll">
          <% @restaurants.each do |restaurant| %>
            <div class="new-restaurant-result"  id="<%= restaurant.id %>">
              <%= link_to '',restaurant,class: 'restaurant-link', target: "newtab"%>
              <img src="<%= restaurant.shop_image1 %>" class="new-restaurant_img">
              <div class="new-item_desc">
                <h3 class="item-title m-t20 half"><%= restaurant.name %></h3>
                <p class="item-pr m-t40"><%= restaurant.pr_short %></p>
                <div class="star-rating" data-score=<%= restaurant.avg_rating %>></div>
              </div>
            </div>
          <%end%>
        </div>
        <div id="map" class="col-xs-7 fixed"></div>
    </div>
  </div>
  <%= paginate @restaurants %>
<% end %>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: <%= @zoom %>,
      center: {lat: <%= @restaurants.first.latitude %>, lng: <%= @restaurants.first.longitude %>}
  });
  var marker, infowindow;
  <% @restaurants.reverse.each do |restaurant| %>
      marker = new google.maps.Marker({
        position: {lat: <%= restaurant.latitude %>, lng: <%= restaurant.longitude %>},
        map: map
      });
      infowindow = new google.maps.InfoWindow({content: '<%= link_to restaurant.name,restaurant %>'});
      infowindow.open(map, marker);
  <% end %>

  google.maps.event.addDomListener(window, 'load', initMap);
}
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
        return $(this).attr('data-score');
  }
});
</script>

<%= javascript_include_tag 'googlemap.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbs-NqOhNQ_4ZB_gdsVID5h0LWSEX2GIE&callback=initMap" async defer></script>