<%= render 'restaurant_nav'%>
<div class="show-restaurant_map">
  <div id="map"></div>
</div>
<%if @comment_images %>
  <h4 class="mt-1">投稿された画像一覧</h4>
  <div class="show-restaurant_right_images">
    <% @comment_images.each do |comment_image| %>
      <% comment_image.images.each do |image| %>
        <%= image_tag image.variant(resize: '180x180!') %>
      <% end %>
    <% end %>
  </div>
<%end%>
<div class="comment-area col-sm-7">
  <div class="item-desc">
    <p class="item-title show_title_size"><%= @restaurant.name %></p>
    <div class="rating_container">
      <div class="star-rating show_rating_size" data-score= <%=  @avg_comment_rating %>></div>
      <div class="show_star-rating_count"><%= @avg_comment_rating %></div>
    </div>
    <div>
      <span class="write-review">
        <i class="fas fa-edit"></i><%= link_to 'レビューを書く',new_restaurant_comment_path(@restaurant) %>
      </span>
      <%if logged_in?%>
        <span class="show-restaurant_like">
          <%= render 'likes/like_button', restaurant: @restaurant%>
        </span>
      <%end%>
    </div>
  </div>

  <div class="comment_listTitle">レビュー　一覧</div>
  <% if @comments.present? %>
    <%= render @comments %>
  <% else %>
    <div class="empty_comments">
      <h1><%= link_to '一つ目のレビューを書く', new_restaurant_comment_path(@restaurant) %></h1>
    </div>
  <% end %>
</div>
<div class="col-sm-5">
  <div class="item_pr_long">
    <button>お店情報</button>
    <p><%= @restaurant.pr_long %></p>
  </div>
  <dl class="restaurant-info-table">
    <dt class="restaurant-info-table_title"><i class="fas fa-utensils"></i>ジャンル</dt>
    <dd class="restaurant-info-table_body">
      <%= @restaurant.category %>
    </dd>
    <dt class="restaurant-info-table_title"><i class="fas fa-phone"></i>お問い合わせ</dt>
    <dd class="restaurant-info-table_body">
      <%= @restaurant.tel || "電話番号なし" %>
    </dd>
    <dt class="restaurant-info-table_title"><i class="fas fa-subway"></i>駅</dt>
    <dd class="restaurant-info-table_body">
      <%= @restaurant.station %>
    </dd>
    <dt class="restaurant-info-table_title">ぐるなびページ</dt>
    <dd class="restaurant-info-table_body">
      <%= link_to(@restaurant.url) do %>
        <i class="fas fa-external-link-alt"></i>
      <%end%>
    </dd>
  </dl>
</div>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>}
  });
  var marker = new google.maps.Marker({
    position: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
    map: map
  });
}

$('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
  }
});
</script>
<%= javascript_include_tag 'googlemap.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbs-NqOhNQ_4ZB_gdsVID5h0LWSEX2GIE&callback=initMap" async defer></script>