<p class="item-title"><%= @restaurant.name %></p>
  
<p class="text-center"><%= link_to 'ぐるなびページ', @restaurant.url, target: '_blank',class: 'btn-gradient-3d-orange' %></p>
<div id="map">
</div>
<div class="comment-area col-sm-7">
  <div class="p-comment_list">
    <div class="p-comment_listTitle">コメント一覧</div>
      <%= render @restaurant.comments %>
  </div>
  <%= render 'comments/comment_form',comment: @comment %>
</div>
<div class="col-sm-4 credit-form">
  <div class="telnumber text-center"><i class="fas fa-phone"></i><span>123-456-111</span></div>
  <%= render 'charges/charge',class: 'stripe' %>
  <% if logged_in? %>
    <div class="like-btn"><%= render 'likes/like_button', restaurant: @restaurant %></div>
  <% end %>
</div>

<style>
#map{
  height: 500px;
  width:100%;
  margin: 0 auto;
}
</style>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>}
  });
  var marker = new google.maps.Marker({
    position: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
    map: map
  });
}
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbs-NqOhNQ_4ZB_gdsVID5h0LWSEX2GIE&callback=initMap" async defer></script>