<p class="item-title"><%= @restaurant.name %></p>
  <% if logged_in? %>
    <%= render 'likes/like_button', restaurant: @restaurant %>
  <% end %>
<p class="text-center"><%= link_to 'ぐるなびページ', @restaurant.url, target: '_blank',class: 'btn-gradient-3d-orange' %></p>
<div id="map">
</div>
<div class="comment_area">
  <div class="p-comment__list">
    <div class="p-comment__listTitle">コメント一覧</div>
      <%= render @restaurant.comments %>
  </div>
  <%= render 'comments/comment_form',comment: @comment %>
</div>
<%= render 'charges/charge'%>

<style>
#map{
  height: 500px;
  width:100%;
  margin: 0 auto;
}
</style>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>}
  });
  var marker = new google.maps.Marker({
    position: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
    map: map
  });
}
  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbs-NqOhNQ_4ZB_gdsVID5h0LWSEX2GIE&callback=initMap" async defer></script>