<%= render 'restaurant_nav'%>
<p class="text-center"><%= link_to 'ぐるなびページ', @restaurant.url, target: '_blank',class: 'btn-gradient-3d-orange' %></p>
<div id="map"></div>
<div class="comment-area col-sm-8">
  <p class="item-title"><%= @restaurant.name %></p>
  <p class="avg-rating"><span><%= @avg_comment_rating %></span><span class="star-rating" data-score=<%= @avg_comment_rating %>></span></p>
  <span class="write-review">
      <i class="fas fa-edit"></i><%= link_to '新規口コミ',new_restaurant_comment_path(@restaurant) %>
    </span>
  <div class="p-comment_list">
    <div class="p-comment_listTitle">口コミ一覧</div>
    <%= render @comments %>
  </div>
</div>
<div class="col-sm-4 credit-form">
  <div class="telnumber text-center"><i class="fas fa-phone"></i><span><%= @restaurant.tel || "電話番号なし" %></span></div>
  <%= render 'charges/charge',class: 'stripe' %>
  <% if logged_in? %>
    <div class="like-btn"><%= render 'likes/like_button', restaurant: @restaurant %></div>
  <% end %>
</div>
<style>
#map{
  height: 500px;
  width:100%;
  margin: 0 auto;
}
.avg-rating{
  margin-bottom:20px;
}
.write-review{
  margin-top:10px;
  border: 1px solid #ccc;
  border-radius:5px;
  box-shadow:3px shadow;
  padding:6px;
}
.write-review i {
  color:orange;
  padding-right:5px;
}
.write-review a{
  text-decoration:none;
  color:orange;
  font-weight:bold;
}
</style>
<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>}
  });
  var marker = new google.maps.Marker({
    position: {lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
    map: map
  });
}
</script>
<%= javascript_include_tag 'googlemap.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbs-NqOhNQ_4ZB_gdsVID5h0LWSEX2GIE&callback=initMap" async defer></script>